.qe-toolbar__inner>ul>li.btn__qelogo  a {
              display: block;
              overflow: hidden;
              height: 30px;
              width: 105px;
              background: url("toolbar_logo.svg")
                no-repeat left top !important;
              background-size: 105px 30px !important;
}

/* 
  quantecon theme aligns table headers to left
  this restores (part of) default behavior
*/
table thead tr th.text-center {
  text-align: center!important;
}